<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>Calculadora</title>
    </head>
    <body>

        <h1>Calculadora de binomicos</h1>
        <form method="post" action="/ejecutar">
            <div>
                <input type="text" name="primeraParte1" th:value="${primeraParte1}"/>
                <input type="text" name="segundaParte1" th:value="${segundaParte1}"/>
            </div>
            <div>
                <select name="operacion">
                    <option th:selected="${'+' == operacionSeleccionada}" value="+">+</option>
                    <option th:selected="${'-' == operacionSeleccionada}" value="-">-</option>
                    <option th:selected="${'*' == operacionSeleccionada}" value="*">*</option>
                    <option th:selected="${'/' == operacionSeleccionada}" value="/">/</option>
                </select>
            </div>
            <div>
                <input type="text" name="primeraParte2" th:value="${primeraParte2}"/>
                <input type="text" name="segundaParte2" th:value="${segundaParte2}"/>
            </div>
            <button type="submit">=</button>
            <h1 th:text="${resultado}"></h1>
        </form>
    </body>
</html>