<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Calculadora</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
    <h1>Calculadora de complejos binomicos</h1>
    <div class="contenedor">
        <form class="cambiar-modo" method="post" action="/irAPolares">
            <button type="submit">Ir a modo polar</button>
        </form>
        <form class="calculadora" method="post" action="/ejecutarBinomicos">
            <div class="inputs">
                <div class="complejo">
                    <label>Z1 = </label>
                    <input type="text" autocomplete="off" class='input' name="primeraParte1" th:value="${allParams?.get('primeraParte1')}" />
                    <label>+</label>
                    <input type="text" autocomplete="off" class='input' name="segundaParte1" th:value="${allParams?.get('segundaParte1')}" />
                    <label>j</label>
                </div>
                <div class="divider div-transparent"></div>
                <div class="complejo">
                    <label>Z2 = </label>
                    <input type="text" autocomplete="off" class='input' name="primeraParte2" th:value="${allParams?.get('primeraParte2')}" />
                    <label>+</label>
                    <input type="text" autocomplete="off" class='input' name="segundaParte2" th:value="${allParams?.get('segundaParte2')}" />
                    <label>j</label>
                </div>
            </div>
            <div class="divider div-transparent"></div>
            <div>
                <label>Z1</label>
                <select class="operacion" name="operacion">
                    <option th:selected="${'+' == allParams?.get('operacion')}" value="+">+</option>
                    <option th:selected="${'-' == allParams?.get('operacion')}" value="-">-</option>
                    <option th:selected="${'*' == allParams?.get('operacion')}" value="*">*</option>
                    <option th:selected="${'/' == allParams?.get('operacion')}" value="/">/</option>
                </select>
                <label>Z2</label>
                <button type="submit">=</button>
                <label th:text="${resultado}"></label>
            </div>

        </form>
    </div>
</body>

</html>
