<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Calculadora</title>
</head>
<body>

<h1>Calculadora de polares</h1>
<form method="post" action="/irABinomicos">
    <button type="submit">ir a binomicos</button>
</form>
<form method="post" action="/ejecutarPolares">
    <div>
        <label>Z1 = (</label>
        <input type="text" style="width:30px" name="primeraParte1" th:value="${primeraParte1}"/>
        <label>,</label>
        <input type="text" style="width:30px" name="segundaParte1" th:value="${segundaParte1}"/>
        <label>)</label>
    </div>
    <div>
        <label>Z2 = (</label>
        <input type="text" style="width:30px" name="primeraParte2" th:value="${primeraParte2}"/>
        <label>,</label>
        <input type="text" style="width:30px" name="segundaParte2" th:value="${segundaParte2}"/>
        <label>)</label>
    </div>
    <br/>
    <div>
        <label>Z1</label>
        <select name="operacion">
            <option th:selected="${'+' == operacionSeleccionada}" value="+">+</option>
            <option th:selected="${'-' == operacionSeleccionada}" value="-">-</option>
            <option th:selected="${'*' == operacionSeleccionada}" value="*">*</option>
            <option th:selected="${'/' == operacionSeleccionada}" value="/">/</option>
        </select>
        <label>Z2</label>
        <button type="submit">=</button>
        <label th:text="${resultado}"></label>
    </div>

</form>
</body>
</html>