<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Calculadora</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
    <h1>Calculadora de complejos polares</h1>
    <div class="contenedor">
        <form class="cambiar-modo" method="post" action="/irABinomicos">
            <button type="submit">ir a binomicos</button>
        </form>
        <form class="calculadora" method="post" action="/ejecutarPolares">
            <div class="inputs">
                <div class="complejo">
                    <label>Z1 = (</label>
                    <input type="text" autocomplete="off" class='input' th:value="${primeraParte1}" />
                    <label>,</label>
                    <input type="text" autocomplete="off" class='input' th:value="${segundaParte1}" />
                    <label>)</label>
                </div>
                <div class="divider div-transparent"></div>
                <div class="complejo">
                    <label>Z2 = (</label>
                    <input type="text" autocomplete="off" class='input' th:value="${primeraParte2}" />
                    <label>,</label>
                    <input type="text" autocomplete="off" class='input' th:value="${segundaParte2}" />
                    <label>)</label>
                </div>
            </div>
            <div class="divider div-transparent"></div>
            <div>
                <label>Z1</label>
                <select class="operacion" name="operacion">
                    <option th:selected="${'+' == operacionSeleccionada}" value="+">+</option>
                    <option th:selected="${'-' == operacionSeleccionada}" value="-">-</option>
                    <option th:selected="${'*' == operacionSeleccionada}" value="*">*</option>
                    <option th:selected="${'/' == operacionSeleccionada}" value="/">/</option>
                </select>
                <label>Z2</label>
                <button type="submit">=</button>
                <label th:text="${resultado}"></label>
            </div>

        </form>
    </div>
</body>

</html>
