<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>Calculadora</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
    <h1>Sumador de funciones trigonometricas</h1>
    <form class="cambiar-modo" method="post" action="/">
        <button type="submit">Ir a calculadora</button>
    </form>
    <div class="contenedor">
        <form class="calculadora" method="post" action="/funciones/calcular">
            <div class="inputs">
                <div class="complejo">
                    <label class="m-r-10">F(t)</label>
                    <select class="operacion" name="tipo1">
                        <option th:selected="${'seno' == allParams?.get('tipo1')}" value="seno">seno</option>
                        <option th:selected="${'coseno' == allParams?.get('tipo1')}" value="coseno">coseno</option>
                    </select>
                    <label class="m-r-10">Amplitud: </label>
                    <input type="text" autocomplete="off" class='input m-r-10' name="amplitud1" th:value="${allParams?.get('amplitud1')}" />
                    <label class="m-r-10">Frecuencia: </label>
                    <input type="text" autocomplete="off" class='input m-r-10' name="frecuencia1" th:value="${allParams?.get('frecuencia1')}" />
                    <label class="m-r-10">Fase: </label>
                    <input type="text" autocomplete="off" class='input m-r-10' name="fase1" th:value="${allParams?.get('fase1')}" />
                </div>
                <div class="divider div-transparent"></div>
                <div class="complejo">
                    <label class="m-r-10">G(t)</label>
                    <select class="operacion" name="tipo2">
                        <option th:selected="${'seno' == allParams?.get('tipo2')}" value="seno">seno</option>
                        <option th:selected="${'coseno' == allParams?.get('tipo2')}" value="coseno">coseno</option>
                    </select>
                    <label class="m-r-10">Amplitud: </label>
                    <input type="text" autocomplete="off" class='input m-r-10' name="amplitud2" th:value="${allParams?.get('amplitud2')}" />
                    <label class="m-r-10">Frecuencia: </label>
                    <input type="text" autocomplete="off" class='input m-r-10' name="frecuencia2" th:value="${allParams?.get('frecuencia2')}" />
                    <label class="m-r-10">Fase: </label>
                    <input type="text" autocomplete="off" class='input m-r-10' name="fase2" th:value="${allParams?.get('fase2')}" />
                </div>
                <div class="divider div-transparent"></div>
            </div>
            <div class="divider div-transparent"></div>
            <div>
                <label class="m-r-10">F(t)</label>
                <select class="operacion" name="operacion">
                    <option th:selected="${'+' == allParams?.get('operacion')}" value="+">+</option>
                    <option th:selected="${'-' == allParams?.get('operacion')}" value="-">-</option>
                </select>
                <label class="m-r-10">G(t)</label>
                <button type="submit">=</button>
                <input type="hidden" name="resultado" th:value="${resultado}" />
            </div>
            <div>
                <label class="m-r-10" th:text="${formula}"></label>
                <label class="m-r-10" th:text="${resultado}"></label>
            </div>

        </form>
    </div>
</body>

</html>
